.t1
{
  border-style:groove;
  border-width: 10px;
  text-align: center;
  border-radius: 20px;
  width: 90%;

}
body
{
  text-align: center;
}
th
{
  background: rgba(51, 51, 153, .2);
  transition: .3s;
}
td
{
  background: rgba(51, 51, 153, .2);
  transition: .3s;
}
tr:hover td
{
  color:yellow;
  background-color:pink;
  background-position: center;
  background-size:cover;
}
tr:hover th
{
  color:pink;
  background-color:yellow;
  background-position: center;
  background-size:cover;
}
